{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "emotion",
      {
        "sourceMap": true,
        "autoLabel": true,
        "labelFormat": "[dirname]__[local]"
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-syntax-dynamic-import"],
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/plugin-proposal-export-default-from"],
    ["@babel/plugin-transform-runtime"],
    "react-loadable/babel"
  ]
}
